# Compiled output
build/
dist/
tmp/

# NX
.nx/cache
.nx/installation
.nx/workspace-data

node_modules/
vendor/

# IDEs and editors
.idea/
.cursor/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/*
WARP.md

# System files
.DS_Store
Thumbs.db
