# Application
.env
!.env.example

# Node
node_modules/
npm-debug.log
yarn-error.log

# SlimPHP
vendor/

# Compiled output
build/
dist/
tmp/

# NX
.nx/cache
.nx/installation
.nx/workspace-data

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
.history/*

# System files
.DS_Store
Thumbs.db
